<%- include('partials/headerAdmin2022_2023') %>

<div class="container">
  <div class="jumbotron ">
    
    <h1 class="text-center">Naudotojo <%=user.vardas%> <%=user.pavarde%> redagavimas 2022 - 2023 m. m.</h1>
    <br>
    <form action="/update-user-info-admin-2022-2023" method="post">
      
      <div class="form-group ">
        <!-- <h4 class="text-center">Jūsų duomenys</h4> -->
        <input type="hidden" class="form-control" name="id" value="<%=user._id%>">
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">El. paštas:</label>
            <input type="text" class="form-control" name="elpastas" value="<%=user.username%>" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Fakultetas:</label>
            <input type="text" class="form-control" name="fakultetas" value="<%=user.fakultetas%>" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Katedra:</label>
            <input type="text" class="form-control" name="katedra" value="<%=user.katedra%>" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Rolė 2022 - 2023 m. m.:</label>
            <input type="text" class="form-control" name="role" readonly <%if (user.teachingYear22_23 === true && user.headOfTheDepartment22_23 === false) { %> value="Dėstytojas" <% } else if (user.teachingYear22_23 === false && user.headOfTheDepartment22_23 === true){ %> value="Katedros vedėjas" <% } else if (user.teachingYear22_23 === true && user.headOfTheDepartment22_23 === true){ %> value="Dėstytojas ir Katedros vedėjas" <% } %>>
          </div>
        </div>
        <%if (user.teachingYear22_23 === true) { %>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Dėstytojo ataskaitos būsena 2022 - 2023 m. m.:</label>
            <select name="busena" class="form-select form-control" required>
              <option class="others" <%if (user.busena22_23 === "nesukurta") { %> selected <% } %> value="nesukurta">Nesukurta</option>
              <option class="others" <%if (user.busena22_23 === "redaguojama") { %> selected <% } %> value="redaguojama">Redaguojama</option>
              <option class="others" <%if (user.busena22_23 === "užrakinta") { %> selected <% } %> value="užrakinta">Užrakinta</option>
              <option class="others" <%if (user.busena22_23 === "užrakintaVedėjo") { %> selected <% } %> value="užrakintaVedėjo">Užrakinta katedros vedėjo</option>
            </select>
          </div>
        </div>
        <% } %>
        <%if (user.headOfTheDepartment22_23 === true) { %>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Vedėjo ataskaitos būsena 2022 - 2023 m. m.:</label>
            <select name="busenaVedejo" class="form-select form-control" required>
              <option class="others" <%if (user.busenaVedejo22_23 === "nesukurta") { %> selected <% } %> value="nesukurta">Nesukurta</option>
              <option class="others" <%if (user.busenaVedejo22_23 === "redaguojama") { %> selected <% } %> value="redaguojama">Redaguojama</option>
              <option class="others" <%if (user.busenaVedejo22_23 === "užrakinta") { %> selected <% } %> value="užrakinta">Užrakinta</option>
            </select>
          </div>
        </div>
        <% } %>
        <br>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <button type="submit" class="btn btn-primary " id="confirmSave">ATNAUJINTI</button>
          </div>
        </div>
        
      </div>
      
    </form>
    
  </div>
</div>

<%- include('partials/footer') %>