 <%- include('partials/headerAdmin') %>
    
    <div class="container">
      <div class="jumbotron ">
    
        <% if(failureMsg != '') { %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <div>Slaptažodis nepakeistas, bandykite dar kartą</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
    
        <form action="/change-user-password-admin" method="post">
          <div class="form-group">
            <h1 class="text-center">Naudotojo <%=user.vardas%> <%=user.pavarde%> redagavimas</h1>
            <h4 class="text-center">Slaptažodžio keitimas</h4>
            
            <input type="text" name="idUser" value="<%=user.id%>" hidden readonly>

            <div class="form-row">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <label>Naujas slaptažodis:</label>
                <input type="password" name="newPassword" id="password" minlength="5" class="form-control form-control-md" required placeholder="" autocomplete="off">

              </div>
            </div>
            
            <div class="form-row">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <label>Naujo slaptažodžio patvirtinimas:</label>
                <input type="password" name="confirmNewPassword" id="confirmPassword" minlength="5" class="form-control form-control-md" required placeholder="" autocomplete="off">
              </div>
            </div>
            <div class=" text-center">
              <span id='message'></span>
            </div>
            <br>
            <div class=" text-center">
              <button id="isAvailable" type="submit" class="btn btn-primary">Patvirtinti</button>
            </div>
            
          </div>
        </form>
        
      </div>
    </div>
    
    
    <%- include('partials/footer') %>