<%- include('partials/headerAdmin') %>

<div class="container">
  <div class="jumbotron ">

    <h1 class="text-center">Sistemos logai</h1> <br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <!-- <th scope="col">Prisijungęs naudotojas</th> -->
          <th scope="col">Kas įvyko/atliko</th>
          <th scope="col">Vardas</th>
          <th scope="col">Pavardė</th>
          <th scope="col">Fakultetas</th>
          <th scope="col">Katedra</th>
          <th scope="col">Vedėjo ataskaitos būsena</th>
          <th scope="col">Dėstytojo ataskaitos būsena</th>
          <th scope="col">Rolė</th>
          <th scope="col">Rolės keitimas</th>
          <th scope="col">Kuriam naudotojui</th>
        </tr>
      </thead>

    <%  users_history.forEach(function(users_history){ %>
  <div class="database-result-edit ">
      <tbody>
        <tr>
          <td scope="row"><%=users_history.timestamp%></td>
          <td>
            <%if (users_history.diff.updated_for != undefined  && users_history.diff.updated_for.length != 0) { %>
            <%if (users_history.diff.updated_for.length == 1) { %>
            <span class=""><span class="font-weight-bold"></span> <%=users_history.diff.updated_for[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold"></span> <%=users_history.diff.updated_for[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.vardas != undefined  && users_history.diff.vardas.length != 0) { %>
            <%if (users_history.diff.vardas.length == 1) { %>
            <span class=""> <%=users_history.diff.vardas[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.vardas[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.vardas[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.pavarde != undefined  && users_history.diff.pavarde.length != 0) { %>
            <%if (users_history.diff.pavarde.length == 1) { %>
            <span class=""> <%=users_history.diff.pavarde[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.pavarde[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.pavarde[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.fakultetas != undefined  && users_history.diff.fakultetas.length != 0) { %>
            <%if (users_history.diff.fakultetas.length == 1) { %>
            <span class=""> <%=users_history.diff.fakultetas[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.fakultetas[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.fakultetas[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.katedra != undefined  && users_history.diff.katedra.length != 0) { %>
            <%if (users_history.diff.katedra.length == 1) { %>
            <span class=""> <%=users_history.diff.katedra[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.katedra[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.katedra[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.busenaVedejo != undefined  && users_history.diff.busenaVedejo.length != 0) { %>
            <%if (users_history.diff.busenaVedejo.length == 1) { %>
            <span class=""> <%=users_history.diff.busenaVedejo[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.busenaVedejo[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.busenaVedejo[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.busena != undefined  && users_history.diff.busena.length != 0) { %>
            <%if (users_history.diff.busena.length == 1) { %>
            <span class=""> <%=users_history.diff.busena[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.busena[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.busena[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.role != undefined  && users_history.diff.role.length != 0) { %>
            <%if (users_history.diff.role.length == 1) { %>
            <span class=""><%=users_history.diff.role[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.role[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.role[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <%if (users_history.diff.rolesKeitimas != undefined  && users_history.diff.rolesKeitimas.length != 0) { %>
            <%if (users_history.diff.rolesKeitimas.length == 1) { %>
            <span class=""> <%=users_history.diff.rolesKeitimas[0]%></span> <br>
            <% } else { %>
            <span class=""><span class="font-weight-bold">Buvusi reikšmė:</span> <%=users_history.diff.rolesKeitimas[0]%></span> <br>
            <span class=""><span class="font-weight-bold">Nustatyta reikšmė:</span> <%=users_history.diff.rolesKeitimas[1]%></span> <br>
            <% } %>
            <% } else { %>
            -
            <% } %>
          </td>
          <td>
            <span class=""><span class="font-weight-bold" name="idUser"></span> <%=users_history.collectionId%></span> <br>
          </td>
        </tr>
      </tbody>
        </div>

    <% }) %>
    </table>
  </div>
</div>



<%- include('partials/footer') %>
