<%- include('partials/headerAdmin') %>

<div class="container">
  <div class="jumbotron ">
    <% if(facultyUpd != '') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <div>Sėkmingai atnaujinta!</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <% if(facultyDel != '') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <div>Sėkmingai pašalinta!</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <h1 class="text-center">Viko fakultetų sąrašas</h1>
    <div class="text-left">
      
      <!-- užkomentuoti sukūrimą: -->
      <!-- <a type="button" class="btn btn-secondary" href="/admin/faculties/create"> Sukurti</a> -->
      
      <br>
      <p></p>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Fakultetas</th>
          <th scope="col">Dekanas</th>
          <th scope="col">Prodekanas</th>
          <th scope="col" class="text-right"></th>
        </tr>
      </thead>
      
      <%  faculties.forEach(function(faculty){ %>
      <div class="database-result-edit">
        <tbody>
          <tr>
            <td scope="row">
              <div class="edit-left">
                <span class=""> <%=faculty.username%></span>
              </div>
            </td>
            <td scope="row">
              <div class="edit-left">
                <span class=""> <%=faculty.dekanas%></span>
              </div>
            </td>
            <td scope="row">
              <div class="edit-left">
                <span class=""> <%=faculty.prodekanas%></span>
              </div>
            </td>
            <td>
              <div class="text-right">
                <div class="btn-group" role="group" aria-label="" id="group">
                  <a type="button" class="btn btn-secondary" href="/admin/usersp/edit-users/<%=faculty._id%>">Fakulteto dėstytojai ir katedrų vedėjai</a>
                  <a type="button" class="btn btn-primary" href="/admin/faculties/edit/<%=faculty._id %>">Redaguoti</a>
                  <form action="/delete-faculty" method="post">
                    <button class="btn btn-danger" type="submit" name="deleteById" id="confDelete" value="<%=faculty._id%>" disabled>Ištrinti</button>
                  </form>
                </div>
              </div>
              
            </td>
            
          </tr>
        </tbody>
      </div>
      <% }) %>
    </table>
    
  </div>
</div>



<%- include('partials/footer') %>