<%- include('partials/headerAdmin2024_2025') %>

<div class="container">
  <div class="jumbotron ">
    <% if(successMsg != '') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <div>Sėkmingai atnaujinta!</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <h1 class="text-center">Dėstytojų ir katedros vedėjų sąrašas 2024 - 2025 m. m.</h1>
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Ieškoti..">
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Naudotojas</th>
          <th scope="col">Rolė</th>
          <th scope="col">Fakultetas</th>
          <th scope="col">Katedra</th>
          <th scope="col"></th>
        </tr>
      </thead>
      
      <%  users.forEach(function(user){ %>
      <div class="database-result-edit ">
        <tbody id="myTable">
          <tr>
            <td scope="row">
              <div class="edit-left">
                <span class="font-weight-bold"> <%=user.vardas + " " + user.pavarde%></span>
              </div>
            </td>
            <td>
              <%if (user.teachingYear24_25 === true && user.headOfTheDepartment24_25 === true){ %>
              katedros vedėjas / dėstytojas
              <%  } else if (user.teachingYear24_25 === true){ %>
              dėstytojas
              <%  } else if (user.headOfTheDepartment24_25 === true){ %>
              katedros vedėjas
              <%  }  %>
            </td>
            <td><%=user.fakultetas%></td>
            <td><%=user.katedra%></td>
            <td>
              <div class="text-right">
                <div class="btn-group" role="group" aria-label="" id="group">
                  <a type="button" class="btn btn-primary" href="/admin/2024-2025/users/edit/<%= user._id %>"> Redaguoti</a>
                  <a type="button" class="btn btn-secondary" href="/admin/2024-2025/user-reports/<%= user._id %>"> Ataskaitos</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
      <% }) %>
      
    </table>
    <br>
  </div>
</div>



<%- include('partials/footer') %>