<%- include('partials/headerAdmin') %>

<div class="container">
  <div class="jumbotron ">

    <h1 class="text-center">Sistemos logai</h1>

    <%  users_history.forEach(function(users_history){ %>

    <div class="">
      <%if (users_history.d.vardas != null) { %> <span class="" ><span class="font-weight-bold">Vardas:</span> <%=users_history.d.vardas%></span> <br> <% } %>
      <%if (users_history.d.pavarde != null) { %><span class=""><span class="font-weight-bold">Pavardė:</span> <%=users_history.d.pavarde%></span> <br> <% } %>
      <%if (users_history.d.fakultetas != null) { %> <span class="" ><span class="font-weight-bold">Fakultetas:</span> <%=users_history.d.fakultetas%></span> <br> <% } %>
      <%if (users_history.d.katedra != null) { %> <span class="" ><span class="font-weight-bold">Katedra:</span> <%=users_history.d.katedra%></span> <br> <% } %>
      <%if (users_history.d.busenaVedejo != null) { %> <span class="" ><span class="font-weight-bold">Vedėjo ataskaitos būsena:</span> <%=users_history.d.busenaVedejo%></span> <br> <% } %>
      <%if (users_history.d.busena != null) { %> <span class="" ><span class="font-weight-bold">Dėstytojo ataskaitos būsena:</span> <%=users_history.d.busena%></span> <br> <% } %>
      <%if (users_history.d.role != null) { %> <span class="" ><span class="font-weight-bold">Rolė:</span> <%=users_history.d.role%></span> <br> <% } %>
      <%if (users_history.d.rolesKeitimas != null) { %> <span class="" ><span class="font-weight-bold">Rolės keitimas:</span> <%=users_history.d.rolesKeitimas%></span> <br> <% } %>
      <span class=""><span class="font-weight-bold">Data ir laikas:</span> <%=users_history.t%></span> <br>
      <span class=""><span class="font-weight-bold">Veiksmas:</span> </span>
      <select name="" class="form-select form-control" readonly>
        <option class="others" <%if (users_history.o == "i") { %> selected <% } %>value="i">Sukūrimas</option>
        <option class="others" <%if (users_history.o == "u") { %> selected <% } %>value="u">Redagavimas</option>
      </select>
      <span class=""><span class="font-weight-bold">Kas atliko:</span> <%=users_history.d.updated_for%></span> <br>
      <span class=""><span class="font-weight-bold" name="idUser">Kuriam naudotojui:</span> <%=users_history.d._id%></span>
    </div>

    <br>
    <% }) %>

  </div>
</div>



<%- include('partials/footer') %>
