<%- include('partials/headerAdmin2024_2025') %>

<div class="container">
  <div class="jumbotron">
    
    <h1 class="text-center"><%=faculty.username%> fakulteto dėstytojų ir katedros vedėjų sąrašas 2024 - 2025 m. m.</h1>
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Ieškoti naudotojo..">
    <br>
    
    <form action="/update-all-users-info-admin-2024-2025" method="post">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Naudotojas </th>
            <th scope="col">Katedra</th>
            <th scope="col">"Dėstytojas" rolė (2024 - 2025 m. m.)</th>
            <th scope="col">"Katedros vedėjas" rolė (2024 - 2025 m. m.)</th>
            <th scope="col">Būsena</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% var userNr = 0; %>
        <%  users.forEach(function(user){ %>
        <% userNr++; %>
        <div class="database-result-edit ">
          
          <tbody id="myTable">
            <tr>
              <td scope="row">
                <div class="edit-left" id="id01">
                  <span name="spann" class="font-weight-bold"> <%=user.vardas + " " + user.pavarde%></span>
                </div>
                <input type="text" name="userId<%=userNr%>" value="<%=user._id%>" hidden>
              </td>
              <td>
                <%= user.katedra %>
              </td>
              <td>
                <select name="destymoMetai24_25<%=userNr%>" class="form-select form-control" required>
                  <option class="others" <%if (user.teachingYear24_25 === false) { %> selected <% } %> value=false>Ne</option>
                  <option class="others" <%if (user.teachingYear24_25 === true) { %> selected <% } %> value=true>Taip</option>
                </select>
              </td>
              <td>
                <select name="vedejoDarboMetai24_25<%=userNr%>" class="form-select form-control" required>
                  <option class="others" <%if (user.headOfTheDepartment24_25 === false) { %> selected <% } %> value=false>Ne</option>
                  <option class="others" <%if (user.headOfTheDepartment24_25 === true) { %> selected <% } %> value=true>Taip</option>
                </select>
              </td>
              <td>
                <%if (user.activeUser == "aktyvus"){ %>
                aktyvus
                <%  } else { %>
                neaktyvus
                <%  } %>
              </td>
            </tr>
          </tbody>
        </div>
        <% }) %>
      </table>
      <input type="" id="userTable_id" name="userTable_name" value="<%=userNr%>" hidden>
      <br>
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
          <button type="submit" class="btn btn-primary" <%if (userNr == 0) { %> disabled <% } %> id="confirmSave">ATNAUJINTI</button>
        </div>
      </div>
    </form>
    <br>
    
  </div>
</div>




<%- include('partials/footer') %>