<%- include('partials/headerAdmin') %>

<div class="container">
  <div class="jumbotron ">

    <h1 class="text-center">Viko fakultetų redagavimas</h1>

    <form class="" action="/edit-faculty" method="post">
      <div class="form-group ">
        <input type="hidden" class="form-control  database-result" name="id" value="<%=faculty._id%>">

        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Fakultetas:</label>
            <input type="text" class="form-control" readonly name="fakultetas" value="<%=faculty.username%>" >
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Dekanas:</label>
            <input type="text" class="form-control" name="dekanas" value="<%=faculty.dekanas%>" placeholder="" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Prodekanas:</label>
            <input type="text" class="form-control" name="prodekanas" value="<%=faculty.prodekanas%>" placeholder="" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Ar tikrai norite išsaugoti?');">IŠSAUGOTI</button>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>


<%- include('partials/footer') %>
