<%- include('partials/headerAdmin') %>

<div class="container">
  <div class="jumbotron ">
    <% if(userUp != '') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <div>Sėkmingai atnaujinta!</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <% if(userDel != '') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <div>Sėkmingai pašalinta!</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <h1 class="text-center">Visų duomenų bazėje esančių naudotojų sąrašas</h1>
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Ieškoti..">
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Fakultetas</th>
          <th scope="col">Katedra</th>
          <th scope="col">Naudotojas</th>
          <th scope="col">Būsena</th>
          <!-- <th scope="col">Dėstymo metai 2022 - 2023 m. m.</th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      
      <%  users.forEach(function(user){ %>
      <div class="database-result-edit ">
        <tbody id="myTable">
          <tr>
            <td><%=user.fakultetas%></td>
            <td><%=user.katedra%></td>
            <td scope="row">
              <div class="edit-left">
                <span class="font-weight-bold"> <%=user.vardas + " " + user.pavarde%></span>
              </div>
            </td>
            <td>
              <%if (user.activeUser == "aktyvus"){ %>
              aktyvus
              <%  } else { %>
              neaktyvus
              <%  } %>
            </td>
            <!-- <td><%=user.teachingYear22_23 %></td> -->
            <td>
              <div class="text-right">
                <div class="btn-group" role="group" aria-label="" id="group">
                  <a type="button" class="btn btn-primary" href="/admin/users/edit/<%= user._id %>"> Redaguoti</a>
                  <form action="/delete" method="post">
                    <button class="btn btn-danger" type="submit" name="deleteById" onclick="return confirm('Ar tikrai norite ištrinti naudotoją?');" value="<%=user._id%>">Ištrinti</button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
      <% }) %>
      
    </table>
    <br>
    
    
  </div>
</div>



<%- include('partials/footer') %>