<%- include('partials/headerDep2024_2025') %>

<div class="container">
  <div class="jumbotron ">
    <h1 class="text-center">Visų katedros dėstytojų sąrašas 2024 - 2025 m. m.</h1>
    <div class="">
      <p class="lead text-center text-danger">Katedros dėstytojų skaičius (patvirtintas direktoriaus įsakymu): <%=depUser.mm2024_2025.katedrosVedejas.katedrosDestytojuSk%></p>
    </div>
    <br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Katedra</th>
          <th scope="col">Ataskaitos būsena</th>
          <th scope="col">Rolė</th>
          <th scope="col">Naudotojas</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <%  users.forEach(function(user){ %>
      <% if (user.rolesKeitimas24_25 == false && user.role24_25 == "katedros vedėjas"){ %>
        <!--jei katedros vedejas yra TIK katedros vedejas jo sarase nerodo  -->
      <%  } else { %>
      <div class="database-result-edit ">
        <tbody>
          <tr>
            <td><%=user.katedra%></td>
            <td><%=user.busena24_25%></td>
            <td>
              <%if (user.rolesKeitimas24_25 == true){ %>
              katedros vedėjas / dėstytojas
              <%  } else { %>
              <%=user.role24_25%>
              <%  } %>
            </td>
            <td><span class="font-weight-bold"> <%=user.vardas + " " + user.pavarde%></span></td>
            <td>
              <div class="text-right">
                <div class="btn-group" role="group" aria-label="" id="group">
                  <a type="button" class="btn btn-primary" href="/department/2024-2025/edit-user/<%= user._id %>"> Redaguoti</a>
                  <a type="button" class="btn btn-secondary" href="/department/2024-2025/edit-lecturer-report/<%= user._id %>"> Ataskaita</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
      <% } %>

      <% }) %>

    </table>
  </div>
</div>



<%- include('partials/footer') %>
