<%- include('partials/headerDep2024_2025') %>

<div class="container">
  <div class="jumbotron ">

    <h1 class="text-center">Dėstytojo <%=user.vardas%> <%=user.pavarde%> redagavimas 2024 - 2025 m. m.</h1>
    <br>
    <form action="/update-user-info-dep-2024-2025" method="post">

      <div class="form-group ">
         <input type="hidden" class="form-control" name="id" value="<%=user._id%>">

        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Dėstytojo ataskaitos būsena:</label>
            <select name="busena" class="form-select form-control" required>
              <option class="others" <%if (user.busena24_25 === "nesukurta") { %> selected <% } %> value="nesukurta" disabled>Nesukurta</option>
              <option class="others" <%if (user.busena24_25 === "redaguojama") { %> selected <% } %> value="redaguojama">Redaguojama</option>
              <option class="others" <%if (user.busena24_25 === "užrakinta") { %> selected <% } %> value="užrakinta">Užrakinta</option>
              <option class="others" <%if (user.busena24_25 === "užrakintaVedėjo") { %> selected <% } %> value="užrakintaVedėjo" disabled>Užrakinta katedros vedėjo</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <button type="submit" class="btn btn-primary " onclick="return confirm('Ar tikrai norite išsaugoti pakeitimus?');">ATNAUJINTI</button>
          </div>
        </div>

      </div>

    </form>

  </div>
</div>



<%- include('partials/footer') %>
