<%- include('partials/headerDep2022_2023') %>

<div class="container">
  <div class="jumbotron ">
    <% if(userUpd != '') { %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <div>Sėkmingai atnaujinta!</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
    <h1 class="text-center">Visų katedros dėstytojų sąrašas 2022 - 2023 m. m.</h1>
    <div class="">
      <p class="lead text-center text-danger">Katedros dėstytojų skaičius (patvirtintas direktoriaus įsakymu): <%=depUser.mm2022_2023.katedrosVedejas.katedrosDestytojuSk%></p>
    </div>
    <br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Katedra</th>
          <th scope="col">Ataskaitos būsena</th>
          <th scope="col">Rolė</th>
          <th scope="col">Naudotojas</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <%  users.forEach(function(user){ %>
      <% if (user.teachingYear22_23 === false && user.headOfTheDepartment22_23 === true){ %>
        <!--jei katedros vedejas yra TIK katedros vedejas jo sarase nerodo  -->
      <%  } else if (user.teachingYear22_23 === true || user.headOfTheDepartment22_23 === true){ %>
      <div class="database-result-edit ">
        <tbody>
          <tr>
            <td><%=user.katedra%></td>
            <td><%=user.busena22_23%></td>
            <td>
              <%if (user.teachingYear22_23 === true && user.headOfTheDepartment22_23 === true){ %>
              katedros vedėjas / dėstytojas
              <%  } else { %>
              dėstytojas
              <%  } %>
            </td>
            <td><span class="font-weight-bold"> <%=user.vardas + " " + user.pavarde%></span></td>
            <td>
              <div class="text-right">
                <div class="btn-group" role="group" aria-label="" id="group">
                  <a type="button" class="btn btn-primary" href="/department/2022-2023/edit-user/<%= user._id %>"> Redaguoti</a>
                  <a type="button" class="btn btn-secondary" href="/department/2022-2023/edit-lecturer-report/<%= user._id %>"> Ataskaita</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
      <% } %>

      <% }) %>

    </table>
    <br>
    <% if (pages > 0) { %>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
            <li class="page-item"><a class="page-link" href="/department/2022-2023/lecturers-list/1">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>

        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="page-item active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
                <li class="disabled"><a class="page-link" href="/department/2022-2023/lecturers-list/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><a class="page-link">...</a></li>
            <% } %>
        <% } %>

        <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
            <li class="disabled"><a class="page-link" href="/department/2022-2023/lecturers-list/<%= pages %>">Last</a></li>
        <% } %>
    </ul>
</nav>
<% } %>
  </div>
</div>



<%- include('partials/footer') %>
