<%if ( user.role === "dėstytojas" && user.teachingYear25_26 === true) { %>
<%- include('partials/headerLecturer2025_2026') %>
<% } else if (user.role === "katedros vedėjas" && user.headOfTheDepartment25_26 === true) { %>
<%- include('partials/headerDep2025_2026') %>
<% } else if (user.role === "dėstytojas" && user.teachingYear25_26 === false) { %>
<%- include('partials/headerLecturer2025_2026_inactive') %>
<% } else if (user.role === "katedros vedėjas" && user.headOfTheDepartment25_26 === false) { %>
<%- include('partials/headerDep2025_2026_inactive') %>
<% } %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">2025 - 2026 m. m. ataskaitos pildymo aplinka</h1>
  <%if ( user.role === "dėstytojas" && user.teachingYear25_26 === true) { %>
    <h1>Dėstytojo aplinka</h1>
  <p class="lead">Jūsų ataskaitos būsena: <%=user.busena25_26%></p>
  <% } else if (user.role === "katedros vedėjas" && user.headOfTheDepartment25_26 === true) { %>
    <h1>Katedros vedėjo aplinka</h1>
  <p class="lead">Jūsų ataskaitos būsena: <%=user.busenaVedejo25_26%></p>
  <% } %>

</div>
  <%if (user.teachingYear25_26 === true && user.headOfTheDepartment25_26 === true) { %>
<div class="container">
  <div class="jumbotron ">
    <% if(reportCr != '') { %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <div>Sukurta sėkmingai!</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
      <% if(userUpd != '') { %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <div>Sėkmingai atnaujinta!</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

      <div class="form-group ">
        <h4 class="text-center"><%=user.vardas%> <%=user.pavarde%></h4>

        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Fakultetas:</label>
            <input type="text" class="form-control" name="fakultetas" value="<%=user.fakultetas%>" placeholder="" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Katedra:</label>
            <input type="text" class="form-control" name="katedra" value="<%=user.katedra%>" placeholder="" readonly>
          </div>
        </div>
        <% if (user.role === "katedros vedėjas") { %>
        <form action="/update-user-dep-2025-2026" method="post">
          <div class="form-row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <lable for="">Katedros dėstytojų skaičius (patvirtintas direktoriaus įsakymu):</lable>
              <input type="number" name="katedrosDestytojuSkaicius" value="<%=user.mm2025_2026.katedrosVedejas.katedrosDestytojuSk%>" <% if (user.busenaVedejo25_26 !== "nesukurta") {%> readonly <%}%> class="form-control" placeholder="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
              <button type="submit" class="btn btn-primary " <% if (user.busenaVedejo25_26 !== "nesukurta") {%> disabled <%}%> id="confirmSave">ATNAUJINTI</button>
            </div>
          </div>
        </form>
        <% } %>
      </div>
  </div>
</div>
<% } else if (user.role === "dėstytojas" && user.teachingYear25_26 === true && user.headOfTheDepartment25_26 === false) { %>
  <div class="container">
    <div class="jumbotron ">
      <% if(reportCr != '') { %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <div>Sukurta sėkmingai!</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
      <div class="form-group ">

        <h4 class="text-center"><%=user.vardas%> <%=user.pavarde%></h4>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Fakultetas:</label>
            <input type="text" class="form-control" name="fakultetas" value="<%=user.fakultetas%>" placeholder="" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Katedra:</label>
            <input type="text" class="form-control" name="katedra" value="<%=user.katedra%>" placeholder="" readonly>
          </div>
        </div>

      </div>
    </div>
  </div>

<% } else if (user.role === "katedros vedėjas" && user.teachingYear25_26 === false && user.headOfTheDepartment25_26 === true) { %>
  <div class="container">
    <div class="jumbotron ">
      <% if(reportCr != '') { %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <div>Sukurta sėkmingai!</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <% if(userUpd != '') { %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <div>Sėkmingai atnaujinta!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
      <div class="form-group ">

        <h4 class="text-center"><%=user.vardas%> <%=user.pavarde%></h4>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Fakultetas:</label>
            <input type="text" class="form-control" name="fakultetas" value="<%=user.fakultetas%>" placeholder="" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Katedra:</label>
            <input type="text" class="form-control" name="katedra" value="<%=user.katedra%>" placeholder="" readonly>
          </div>
        </div>

        <form action="/update-user-dep-2022-2023" method="post">
          <div class="form-row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <lable for="">Katedros dėstytojų skaičius (patvirtintas direktoriaus įsakymu):</lable>
              <input type="number" name="katedrosDestytojuSkaicius" value="<%=user.mm2025_2026.katedrosVedejas.katedrosDestytojuSk%>" class="form-control" placeholder="">
            </div>
          </div>
          <br>

        </form>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" id="atnaujintiId">ATNAUJINTI</button>
          </div>
        </div>

      </div>
    </div>
  </div>


<% } else { %>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>Jūs nesate priskirtas šiems mokslo metams</h1>
    <p class="lead">Kilus klausimams kreipkitės į administratorių.</p>
  </div>
<% } %>

<%- include('partials/footer') %>
