<%if ( user.role === "dėstytojas") { %>
<%- include('partials/headerLecturer') %>
<% } else if (user.role === "katedros vedėjas") { %>
<%- include('partials/headerDep') %>
<% } %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Vilniaus kolegijos metinių veiklos ataskaitų sistema</h1>
  <%if ( user.role === "dėstytojas") { %>
<h1>Dėstytojo aplinka</h1>
  <% } else if (user.role === "katedros vedėjas") { %>
<h1>Katedros vedėjo aplinka</h1>
  <% } %>
</div>

<div class="container">
<div class="jumbotron ">
<h4 class="text-center">Jūsų asmeniniai duomenys</h4>
    <div class="form-row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <label for="">El. paštas:</label>
        <input type="text" class="form-control" name="vardas" value="<%=user.username%>" placeholder="" readonly>
      </div>
    </div>
    <form action="/update-user" method="post">

      <div class="form-group ">
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Vardas:</label>
            <input type="text" class="form-control" name="vardas" value="<%=user.vardas%>" placeholder="" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Pavardė:</label>
            <input type="text" class="form-control" name="pavarde" value="<%=user.pavarde%>" placeholder="" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Ar tikrai norite išsaugoti pakeitimus?');">ATNAUJINTI</button>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>


<%- include('partials/footer') %>
