<%- include('partials/headerLecturer') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Naudotojo <%=user.username%> aplinka</h1>
</div>

<div class="container">
  <div class="jumbotron ">
    <form action="/update-user" method="post">

      <div class="form-group ">
        <h4 class="text-center">Jūsų asmeniniai duomenys</h4>
        <%if ( user.rolesKeitimas === true) { %>
        <div class="form-row">
          <div class="col-md-3 mb-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Rolė:</label>
            <select name="role" class="form-select">
              <option style="color:gray" value="<%=user.role %>"> <%=user.role%> </option>
              <option class="others" value="dėstytojas">dėstytojas</option>
              <option class="others" value="katedros vedėjas">katedros vedėjas</option>
            </select>
          </div>
        </div>
        <% } %>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Vardas:</label>
            <input type="text" class="form-control" name="vardas" value="<%=user.vardas%>" placeholder="" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Pavardė:</label>
            <input type="text" class="form-control" name="pavarde" value="<%=user.pavarde%>" placeholder="" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Ar tikrai norite išsaugoti pakeitimus?');">ATNAUJINTI</button>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>


<%- include('partials/footer') %>
