<%if ( user.role === "dėstytojas") { %>
<%- include('partials/headerLecturer2025_2026') %>
<% } else if (user.role === "katedros vedėjas") { %>
<%- include('partials/headerDep2025_2026') %>
<% } %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">2025 - 2026 m. m. ataskaitos pildymo aplinka</h1>
  <%if ( user.role === "dėstytojas") { %>
    <h1>Dėstytojo aplinka</h1>
  <p class="lead">Jūsų ataskaitos būsena: <%=user.busena25_26%></p>
  <% } else if (user.role === "katedros vedėjas") { %>
    <h1>Katedros vedėjo aplinka</h1>
  <p class="lead">Jūsų ataskaitos būsena: <%=user.busenaVedejo25_26%></p>
  <% } %>

</div>

<div class="container">
  <div class="jumbotron ">

      <div class="form-group ">
        <h4 class="text-center"><%=user.vardas%> <%=user.pavarde%></h4>

        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Fakultetas:</label>
            <input type="text" class="form-control" name="fakultetas" value="<%=user.fakultetas%>" placeholder="" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Katedra:</label>
            <input type="text" class="form-control" name="katedra" value="<%=user.katedra%>" placeholder="" readonly>
          </div>
        </div>

      </div>

  </div>
</div>


<%- include('partials/footer') %>
