<%- include('partials/headerLecturer2023_2024') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">2023 - 2024 m. m. ataskaitos pildymo aplinka</h1>
  <%if ( user.role === "dėstytojas") { %>
  <p class="lead">Jūsų ataskaitos būsena: <%=user.busena%></p>
  <% } else if (user.role === "katedros vedėjas") { %>
  <p class="lead">Jūsų ataskaitos būsena: <%=user.busenaVedejo%></p>
  <% } %>

  <p class="lead">Rolė: <%=user.role%></p>
</div>

<div class="container">
  <div class="jumbotron ">

      <div class="form-group ">
        <h4 class="text-center">Jūsų duomenys:</h4>
        <%if ( user.rolesKeitimas === true) { %>
        <div class="form-row">
          <div class="col-md-3 mb-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Rolė:</label>
            <select name="role" class="form-select">
              <option style="color:gray" value="<%=user.role %>"> <%=user.role%> </option>
              <option class="others" value="dėstytojas">dėstytojas</option>
              <option class="others" value="katedros vedėjas">katedros vedėjas</option>
            </select>
          </div>
        </div>
        <% } %>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Fakultetas:</label>
            <input type="text" class="form-control" name="fakultetas" value="<%=user.fakultetas%>" placeholder="" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label for="">Katedra:</label>
            <input type="text" class="form-control" name="katedra" value="<%=user.katedra%>" placeholder="" readonly>
          </div>
        </div>

      </div>

  </div>
</div>


<%- include('partials/footer') %>
